<div class="side_bar_header">
    <!-- サイドバー・ユーザー名 -->
    <div class="side_bar_username">
      <%= link_to current_user.name, edit_user_path(current_user) %>
      <!-- これでもいい？→<%= link_to "#{current_user.name}", "/users/#{current_user.id}/edit" %> -->
    </div>
    <!-- サイドバー・チャット作成 -->
    <div class="side_bar_chat_create">
      <%= link_to "チャットを作成する", new_room_path %>
      <!-- <a href="#">チャットを作成する</a>  -->
    </div>
</div>
  
<div class="side_bar_main">
  <% current_user.rooms.each do |room| %>
     <div class="side_bar_main_room">
        <div class="side_bar_main_room_name">
          <%= link_to room.name, room_messages_path(room) %>
        </div>
      </div>
  <% end %>
</div>