<div class="wrapper">
  <!-- サイドバー -->
  <div class="side_bar">
    
    <div class="side_bar_header">
      <!-- サイドバー・ユーザー名 -->
      <div class="side_bar_username">
        <%= link_to current_user.name, edit_user_path(current_user) %>
        <!-- これでもいい？→<%= link_to "#{current_user.name}", "/users/#{current_user.id}/edit" %> -->
      </div>
     <!-- サイドバー・チャット作成 -->
      <div class="side_bar_chat_create">
        <%= link_to "チャットを作成する", new_room_path %>
        <!-- <a href="#">チャットを作成する</a>  -->
      </div>
    </div>
  
    <div class="side_bar_main">
      <% current_user.rooms.each do |room| %>
        <div class="side_bar_main_room">
          <div class="side_bar_main_room_name">
            <a href="#"><%= room.name %></a>
          </div>
        </div>
      <% end %>
    </div>
  
  </div>
  
  <!-- チャット欄 -->
  <div class="chat_main">
    <div class="chat_main_header">
      <div class="chat_main_header_left">
        <div class="chat_main_header_roomname">
          techroom1
        </div>
      </div>
      <div class="chat_main_header_right">
        <div class="chat_main_header_destroy">
          <a href="#">チャットルームを終了する</a>
        </div>
      </div>
    </div>

    <div class="chat_main_main">
      <div class="chat_main_box">
        <div class="chat_main_up">
          <div class="chat_main_username">
            HINO
          </div>
          <div class="chat_main_date">
            2023/2/20 18:00
          </div>
        </div>
        <div class="chat_main_bottom">
          <div class="chat_main_message">
            疲れました。
          </div>
        </div>
      </div>
      <div class="chat_main_box">
        <div class="chat_main_up">
          <div class="chat_main_username">
            HINO
          </div>
          <div class="chat_main_date">
            2023/2/20 18:00
          </div>
        </div>
        <div class="chat_main_bottom">
          <div class="chat_main_message">
            疲れました。
          </div>
        </div>
      </div>

    </div>
  
    <div class="chat_main_footer">
      <div class="chat_main_form">
        <input class="chat_main_form_message" placeholder= "type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
      </label>
      </div>
      <input class="chat_main_form_btn" type="submit" value="送信">
    </div>

  </div>

</div>