<div class="wrapper">
  <!-- サイドバー -->
  <div class="side_bar">
    
    <div class="side_bar_header">
      <!-- サイドバー・ユーザー名 -->
      <div class="side_bar_username">
        <a href="#">HINO</a>
      </div>
     <!-- サイドバー・チャット作成 -->
      <div class="side_bar_chat_create">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
  
    <div class="side_bar_main">
      <div class="side_bar_main_room">
        <div class="side_bar_main_room_name">
          <a href="#">techroom1</a>
        </div>
      </div>
      <div class="side_bar_main_room">
        <div class="side_bar_main_room_name">
          <a href="#">techroom2</a>
        </div>
      </div>
    </div>
  
  </div>
  
  <!-- チャット欄 -->
  <div class="chat_main">

    <div class="chat_main_header">
      <%= render "main_chat" %>
    </div>

    <div class="chat_main_main">
    </div>
  
    <div class="chat_main_footer">
    </div>

  </div>

</div>