<div class="wrapper">

  <div class="side_bar">
    <div class="side_bar_header">
      <%= render "side_bar" %>
    </div>
  
    <div class="side_bar_main">
    </div>
  
  </div>
  
  <div class="chat_main">

    <div class="chat_main_header">
      <%= render "main_chat" %>
    </div>

    <div class="chat_main_main">
    </div>
  
    <div class="chat_main_footer">
    </div>

  </div>

</div>