.wrapper{
  display: flex;
}

/***　サイドバー　***/
.side_bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side_bar_header{
  height: 100px;
  padding: 0 20px;
}

.side_bar_main{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

/*** チャット欄 ***/

.chat_main{
  width: calc(100VW - 300px);
  background-color: #ffffff;
}

.chat_main_header{
  height: 100px;
  padding: 0 40px;
}

.chat_main_main{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.chat_main_footer{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}